<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sean Sonderegger">
    <meta name="description" content="Music Player Application utilizing JavaScript and Node. Allows users to create and manage playlists of their favorite songs.">
    <title>CSE310MusicPlayer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="styles/musicPlayer.css">
</head>
<body>
<h1>Now Playing</h1>


<p><strong>Title:</strong> <%= title %></p>
<p><strong>Artist:</strong> <%= artist %></p>
<p><strong>Genre:</strong> <%= genre %></p>


<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/<%= videoId %>"
  frameborder="0"
  allow="encrypted-media"
  allowfullscreen>
</iframe>



<br /><br />
<a href="/">Add Another Song</a> |
<a href="/playlist">Go to Playlist</a>


<script>
  const song = {
    title: "<%= title %>",
    artist: "<%= artist %>",
    genre: "<%= genre %>",
    videoId: "<%= videoId %>"
  };

  // Get existing playlist or create empty array
  const playlist = JSON.parse(localStorage.getItem("playlist")) || [];

  // Add new song
  playlist.push(song);

  // Save back to localStorage
  localStorage.setItem("playlist", JSON.stringify(playlist));
</script>









</body>
</html>