<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/musicPlayer.css">
  <title>Song Details</title>
</head>
<body>

<h1><%= title %></h1>
<img class="imageYoutube" src="<%= thumbnail %>" width="300" />

<p><strong>Artist / Channel:</strong> <%= artist %></p>
<p><strong>Views:</strong> <%= views %></p>
<p><strong>Likes:</strong> <%= likes %></p>
<p><strong>Published:</strong> <%= new Date(published).toDateString() %></p>

<p><strong>Description:</strong></p>
<p><%= description %></p>

<div class="iframeContainer">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/<%= videoId %>"
    allowfullscreen>
  </iframe>
</div>

<br /><br />
<a href="/playlist" class="secondaryLink">Back to Playlist</a>

</body>
</html>
